body {
	background-color: #FAEFEB;
}

#backgr {
	position: absolute;
	left: 50%;
	margin-left: -660px; 
	width: 1320px;
	height: 100%;
	background-color: #cfbeb7;
}

.menu {
	position: fixed;
	left: 50%;
	margin-left: -850px;
	width: 1700px;
	height: 120px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #9d6f89;
	box-shadow: 2px 4px 16px 3px #36222A;

	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
}

#header {
	width: 340px;
	height: 190px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	float: left;
	margin-left: 100px;
	background-color: #633f5b;

	border: 5px dashed #FFFFFF;
	border-top: none;
	box-shadow: 0 0 0 10px #633f5b,
	8px 18px 24px 10px #36222A;

	padding-top: 25px;
	font-size: 60px;
	line-height: 1em;
}

#cart {
	width: 165px;
	height: 165px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	float: right;
	margin-right: 130px;
	background-color: #633f5b;

	border: 5px dashed #FFFFFF;
	border-top: none;
	box-shadow: 0 0 0 10px #633f5b,
	8px 18px 24px 10px #36222A;

	padding-top: 10px;
	font-size: 37px;
}

#cart .glyphicon {
	padding-top: 7px;
	font-size: 60px;
}

.nav_bar {
	float: left;
	width: 140px;
	margin-top: 30px;
	margin-left: 30px;
	border-bottom: 3px dashed #FFFFFF;
	line-height: 2em;
}

.auth_menu {
	float: right;
	width: 140px;
	margin-top: 30px;
	margin-right: 30px;
	border-bottom: 3px dashed #FFFFFF;
	line-height: 2em;
}

#vk_auth {
	width: 70px;
	border: 3px solid #FFFFFF;
	border-radius: 15px;
}

a {
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
}
a:hover #header {
	color: #e79b9d;
	border-color: #e79b9d;
}
a:hover #cart {
	color: #e79b9d;
	border-color: #e79b9d;
}
a:hover .nav_bar {
	color: #e79b9d;
	border-color: #e79b9d;
}
a:hover .auth_menu {
	color: #e79b9d;
	border-color: #e79b9d;
}
a:hover #vk_auth {
	color: #e79b9d;
	border-color: #e79b9d;
}


.page_header {
	position: fixed;
	margin-left: 340px;
	margin-top: 160px;
	width: 650px;

	text-align: center;
	color: #633f5b;
	font-size: 60px;
	font-family: 'Cormorant Infant', serif;
	font-weight: medium;
}

.category_table {
	position: absolute;
	left: 50%;
	margin-left: -555px;
	margin-top: 300px;
	width: 1150px;
}

.product_table {
	margin-left: 80px;
	margin-top: 250px;
	width: 1150px;
}

.product_table tr {
	height: 500px;
}

.product_info {
	margin-left: 50px;
	color: #633f5b;
	font-family: 'Cormorant Infant', serif;
	font-size: 30px;
}

.product_info p:first-child {
	font-size: 40px;
	text-decoration: underline;
}

.add_to_cart_form {
	margin-left: 50px;
	margin-top: 30px;
	width: 150px;
	height: 80px;

	text-align: center;
	color: #633f5b;
	font-family: 'Cormorant Infant', serif;
	font-size: 30px;
}

.add_to_cart_btn {
	margin-left: 50px;
	margin-top: 30px;
	width: 300px;
	height: 80px;
	background-color: #9d6f89;
	border: 3px solid #FFFFFF;
	border-radius: 15px;

	text-align: center;
	color: #FFFFFF;
	font-family: 'Cormorant Infant', serif;
	font-size: 50px;
}

.catalog {
	width: 350px;
	height: 425px;
	background-color: #FFFFFF;
	padding: 25px 25px 100px 25px;
	box-shadow: 2px 4px 16px 3px #36222A;

	text-align: center;
	color: #633f5b;
	font-family: 'Cormorant Infant', serif;
	font-size: 50px;
}

a:hover .catalog {
	color: #9d6f89;
}

img {
	width: 300px;
	height: 300px;
}

.cart_table {
	margin: auto;
	margin-top: 300px;
	width: 1100px;

	text-align: center;
	color: #633f5b;
	font-size: 30px;
	font-family: 'Cormorant Infant', serif;
}

.cart_table thead {
	font-size: 35px;
	border-bottom: 5px solid #633f5b;
}

.cart_table tbody tr:last-child {
	font-size: 35px;
	border-top: 5px solid #633f5b;
}
.delete_btn {
	margin-left: 50px;
	width: 180px;
	height: 50px;
	background-color: none;

	text-align: center;
	color: #633f5b;
	font-family: 'Cormorant Infant', serif;
	font-size: 30px;
}


.checkout_btn {
	margin: auto;
	margin-top: 100px;
	width: 300px;
	height: 150px;
	background-color: #9d6f89;
	border: 3px solid #FFFFFF;
	border-radius: 15px;

	text-align: center;
	color: #FFFFFF;
	font-family: 'Cormorant Infant', serif;
	font-size: 50px;
}

.pay_info {
	margin: auto;
	margin-top: 300px;
	border: 3px solid #FFFFFF;
	border-radius: 15px;

	text-align: center;
	color: #FFFFFF;
	font-family: 'Cormorant Infant', serif;
	font-size: 40px;
}