<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/shop.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
		<title>Bird-cherry Bakery</title>
	</head>

	<body>
		<div id="backgr">
			<div class="menu">
				<a href="{% url 'main_page' %}">
					<div id="header">
						Bird-cherry Bakery
					</div>
				</a>

				<a href="{% url 'cart' %}">
					<div id="cart">
						Корзина
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</div>
				</a>

				<div>
					<!-- <a href="{% url 'main_page' %}"><div class="navbar">Магазин</div></a> -->
					<!-- <a href="{% url 'sales' %}"><div class="nav_bar">Акции</div></a> -->
					<a href="{% url 'delivery' %}"><div class="nav_bar">Доставка</div></a>
					<a href="{% url 'contacts' %}"><div class="nav_bar">Контакты</div></a>
					{% if user.is_authenticated %}
						<a href="{% url 'logout' %}"><div class="auth_menu">
							Выйти
						</div></a>
						<a href="{% url 'profile' %}"><div class="auth_menu">
							Профиль
						</div></a>
					{% else %}
						<a href="/login/vk-oauth2/"><div class="auth_menu">
							Войти
						</div></a>
						<a href="/login/vk-oauth2/"><div class="auth_menu" id="vk_auth">
							VK
						</div></a>
					{% endif %}
				</div>
			</div>

			{% block content %}
			{% endblock %}

		</div>

	</body>
</html>