{% extends 'shop/base_menu.html' %}

{% block content %}
	<div class="page_header">Ваша корзина</div>

	<table class="cart_table">
		<thead><tr>
	        <th>Название</th>
	        <th>Количество</th>
	        <th>Стоимость</th>
	    </tr></thead>
	    <tbody>
		    {% for product_cart in product_cart_list %}
		    	<tr>
		    		<th>{{ product_cart.product.name }}</th>
		    		<th>{{ product_cart.quantity }}</th>
		    		<th>{{ product_cart.total_price }}</th>
		    		<th><a href="{% url 'del_product' product_cart.id %}">
		    			<div class="delete_btn">Удалить</div>
		    		</a></th>
		    	</tr>
		    {% endfor %}
		    <tr>
		    	<th>Общая стоимость</th>
		    	<th></th>
		    	<th>{{ cart.total_price }}</th>
		    	<th></th>
		    </tr>
	    </tbody>
	</table>

	{% if product_cart_list %}
		<a href="{% url 'pay' %}"><div class="checkout_btn">
			Оформить заказ
		</div></a>
	{% endif %}

{% endblock %}